{% extends 'base.html' %}

{% block content %}
    <div class="w-full">
        <div class="container mx-auto max-w-5xl p-5" style="padding-top: 120px;">

            <div class="w=full flex flex-col mb-5 sm:mb-10 mx-auto">
                <h1 class=" text-2xl sm:text-4xl font-bold title-font py-1 sm:py-3 text-black w-full border-b-4 border-black">About the Event</h1>
            </div>

            <div class="flex flex-col mb-10 mx-auto">
                <h1 class="w-full text-lg sm:text-xl font-semibold title-font text-black mb-1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui, aperiam.</h1>
                <p class="text-md sm:text-lg text-gray-800 sm:indent-10">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste at ipsa nihil, magni commodi quia exercitationem laboriosam tempora voluptate, accusantium maiores esse pariatur quam, asperiores aliquam facere! Temporibus nobis est culpa pariatur maxime reiciendis unde vel explicabo ut ex dignissimos ratione incidunt soluta sint officiis laudantium, doloribus assumenda dolores non, tempora sit molestiae. Quaerat error placeat magnam quam voluptas quis recusandae autem porro. Magnam quo veniam, accusantium id porro consequatur natus. Perferendis, laborum! Veniam amet doloribus ea labore eaque magnam sed dolore fugiat consequatur voluptates! Libero sint sequi modi. Quam soluta voluptatum facilis repudiandae nesciunt eligendi at eius quia corporis?</p>
            </div>

            <div class="flex flex-col mb-10 mx-auto">
                <h1 class="w-full text-lg sm:text-xl font-semibold title-font text-black mb-1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui, aperiam.</h1>
                <p class="text-md sm:text-lg text-gray-800 sm:indent-10">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste at ipsa nihil, magni commodi quia exercitationem laboriosam tempora voluptate, accusantium maiores esse pariatur quam, asperiores aliquam facere! Temporibus nobis est culpa pariatur maxime reiciendis unde vel explicabo ut ex dignissimos ratione incidunt soluta sint officiis laudantium, doloribus assumenda dolores non, tempora sit molestiae. Quaerat error placeat magnam quam voluptas quis recusandae autem porro. Magnam quo veniam, accusantium id porro consequatur natus. Perferendis, laborum! Veniam amet doloribus ea labore eaque magnam sed dolore fugiat consequatur voluptates! Libero sint sequi modi. Quam soluta voluptatum facilis repudiandae nesciunt eligendi at eius quia corporis?</p>
            </div>

            <div class="flex flex-col mb-10 mx-auto">
                <h1 class="w-full text-lg sm:text-xl font-semibold title-font text-black mb-1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui, aperiam.</h1>
                <p class="text-md sm:text-lg text-gray-800 sm:indent-10">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste at ipsa nihil, magni commodi quia exercitationem laboriosam tempora voluptate, accusantium maiores esse pariatur quam, asperiores aliquam facere! Temporibus nobis est culpa pariatur maxime reiciendis unde vel explicabo ut ex dignissimos ratione incidunt soluta sint officiis laudantium, doloribus assumenda dolores non, tempora sit molestiae. Quaerat error placeat magnam quam voluptas quis recusandae autem porro. Magnam quo veniam, accusantium id porro consequatur natus. Perferendis, laborum! Veniam amet doloribus ea labore eaque magnam sed dolore fugiat consequatur voluptates! Libero sint sequi modi. Quam soluta voluptatum facilis repudiandae nesciunt eligendi at eius quia corporis?</p>
            </div>

            <div class="flex flex-col mb-10 mx-auto">
                <h1 class="w-full text-lg sm:text-xl font-semibold title-font text-black mb-1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui, aperiam.</h1>
                <p class="text-md sm:text-lg text-gray-800 sm:indent-10">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste at ipsa nihil, magni commodi quia exercitationem laboriosam tempora voluptate, accusantium maiores esse pariatur quam, asperiores aliquam facere! Temporibus nobis est culpa pariatur maxime reiciendis unde vel explicabo ut ex dignissimos ratione incidunt soluta sint officiis laudantium, doloribus assumenda dolores non, tempora sit molestiae. Quaerat error placeat magnam quam voluptas quis recusandae autem porro. Magnam quo veniam, accusantium id porro consequatur natus. Perferendis, laborum! Veniam amet doloribus ea labore eaque magnam sed dolore fugiat consequatur voluptates! Libero sint sequi modi. Quam soluta voluptatum facilis repudiandae nesciunt eligendi at eius quia corporis?</p>
            </div>
            
        </div>
    </div>

    {% endblock content %}