{% load static %} {% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap"
      rel="stylesheet"
    />

    <style>
      body {
        font-family: "Poppins", sans-serif;
      }
      @media (max-width: 500px) {
        html {
          font-size: 12px;
        }
      }

      .animateborder{
        animation-name: border;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
      }

      @keyframes border {
        from {
          width: 0%;
        }
        to {
          width: 100%;
        }
      }

      .reverseanimateborder{
        animation-name: borderreverse;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
      }
      @keyframes borderreverse {
        from {
          width: 100%;
        }
        to {
          width: 0%;
        }
      }

      .grow:hover {
        transform: scale(1.1);
      }

      .grow {
        transition: transform 0.2s ease-in-out;
      }
      .grow:hover {
        transform: scale(1.1);
      }

      .border-animation {
        transition: border-color 0.2s ease-in-out;
      }
      .border-animation:hover {
        border-color: black;
      }

      .grow::before {
        content: "";
        position: absolute;
        top: -1px;
        left: -1px;
        border-bottom: 50px solid transparent;
        border-left: 50px solid #651fff;
        width: 0;
        z-index: 20;
      }

      .grow::after {
        content: "";
        position: absolute;
        bottom: -1px;
        right: -1px;
        border-top: 50px solid transparent;
        border-right: 50px solid #651fff;
        width: 0;
        z-index: 20;
      }


      .cornerCutted::before{
        content: "";
        position: absolute;
        top: -1px;
        left: -1px;
        border-bottom: 80px solid transparent;
        border-left: 80px solid white;
        width: 0;
        z-index: 20;
      }
      .cornerCutted::after{
        content: "";
        position: absolute;
        bottom: -1px;
        right: -1px;
        border-top: 80px solid transparent;
        border-right: 80px solid white;
        width: 0;
        z-index: 20;
      }

      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
        display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }
    </style>

    <!-- Tailwind -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              sans: ["Inter", "sans-serif"],
            },
          },
        },
      };
    </script>
    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>

    <!-- Flowbite -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css"
    />
    <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
  </head>
  <body>
    <div class="w-full">
      <header
        id="header_navbar"
        style="
          max-width: 2500px;
          max-height: 100vh;
          top: 0;
          left: 50%;
          transform: translate(-50%, 0);
          z-index: 100;
        "
        class="fixed top-0 left-50 w-full h-100 text-white body-font mx-auto mb-2 mx-auto bg-transparent"
      >
        <div
          id="menuContainer"
          class="lg:container mx-auto block lg:flex p-5 items-center justify-between"
        >
          <div
            id="smallNavbar"
            class="flex lg:block items-center justify-between lg:w-fit w-full h-fit"
          >
            <a class="flex title-font font-medium items-center text-black">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="w-10 h-10 text-blue-600"
              >
                <path
                  fill-rule="evenodd"
                  d="M12.963 2.286a.75.75 0 00-1.071-.136 9.742 9.742 0 00-3.539 6.177A7.547 7.547 0 016.648 6.61a.75.75 0 00-1.152-.082A9 9 0 1015.68 4.534a7.46 7.46 0 01-2.717-2.248zM15.75 14.25a3.75 3.75 0 11-7.313-1.172c.628.465 1.35.81 2.133 1a5.99 5.99 0 011.925-3.545 3.75 3.75 0 013.255 3.717z"
                  clip-rule="evenodd"
                />
              </svg>
              <span class="ml-3 text-2xl font-bold">TechTantra</span>
            </a>
            <div class="block lg:hidden">
              <button id="menuOpener">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="black"
                  class="w-9 h-9"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
                  />
                </svg>
              </button>
            </div>
          </div>
          <div id="MenuBar" class="hidden lg:block w-full">
            <div
              class="lg:flex flex-col lg:flex-row gap-6 lg:gap-0 items-center justify-between py-10 lg:py-0"
            >
              <nav
                class="mx-auto md:ml-auto flex flex-col lg:flex-row flex-wrap text-base items-center justify-centerlg:gap-5 gap-20 lg:gap-5 mb-20 lg:mb-0 lg:mr-5"
              >
                <a
                  href="/"
                  class="lg:mr-5 px-2 py-1 text-lg text-black font-bold cursor-pointer hover:text-blue-700 hover:border-b-4 hover:border-black"
                  >Home</a
                >
                <a
                  href="{% url 'events' %}"
                  class="lg:mr-5 px-2 py-1 text-lg text-black font-bold cursor-pointer hover:text-blue-700 hover:border-b-4 hover:border-black"
                  >Events</a
                >
                <a
                  href="{% url 'about' %}"
                  class="lg:mr-5 px-2 py-1 text-lg text-black font-bold cursor-pointer hover:text-blue-700 hover:border-b-4 hover:border-black"
                  >About Us</a
                >
              </nav>

              <div
                class="flex flex-col lg:flex-row items-center justify-between gap-20 lg:gap-5"
              >
                {% if request.user.is_authenticated %}

                {% if not data %}

                <a
                  href="{% url 'my_events' %}"
                  class="inline-flex items-center text-black font-bold border border-2 border-black py-2 px-3 focus:outline-none rounded text-base mt-4 md:mt-0 cursor-pointer hover:text-blue-700"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.8"
                    stroke="currentColor"
                    class="w-6 h-6 mr-1"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0111.186 0z"
                    />
                  </svg>
                  My Events
                </a>

                {% else %}

                <a
                  href="{% url 'become_host' %}"
                  class="inline-flex items-center text-black font-bold border border-2 border-black py-2 px-3 focus:outline-none rounded text-base mt-4 md:mt-0 cursor-pointer hover:text-blue-700"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.8"
                    stroke="currentColor"
                    class="w-6 h-6 mr-1"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0111.186 0z"
                    />
                  </svg>
                  Host Events
                </a>

                {% endif %}

                <a
                  href="{% url 'logout' %}"
                  class="inline-flex items-center text-black font-bold border border-2 border-black py-2 px-3 focus:outline-none rounded text-base mt-4 md:mt-0 cursor-pointer hover:text-blue-700"
                  >Sign Out
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    class="w-4 h-4 ml-1"
                    viewBox="0 0 24 24"
                  >
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                  </svg>
                </a>

                {% else %}

                <form
                  method="post"
                  action="{% provider_login_url 'google' %}?next=/"
                >
                  {% csrf_token %}
                  <button
                    class="inline-flex items-center text-black font-bold border border-2 border-black py-2 px-3 focus:outline-none rounded text-base mt-4 md:mt-0 cursor-pointer hover:text-blue-700"
                  >
                    Sign In
                    <svg
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      class="w-4 h-4 ml-1"
                      viewBox="0 0 24 24"
                    >
                      <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                  </button>
                </form>

                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </header>
      <div
        id="eventSlider"
        style="max-width: 2500px; width: 100%; max-height: 100vh; height: 100%"
        class="min-h-[400px] sm:min-h-[600px] lg:max-h-screen overflow-hidden mx-auto relative border-b-2"
      >
        <div
          class="absolute w-full h-full mx-auto text-center p-0 mb-4 flex items-center"
        >
          <div class="w-fit mx-auto">
            <h1
              class="title-font text-[2.8rem] sm:text-6xl md:text-7xl lg:text-[7.5rem] mb-5 md:mb-10 font-bold text-black"
              style="font-family: 'Bungee Shade', cursive; z-index: 100;"
            >
              TechTantra
            </h1>

            <div
              class="grid grid-cols-4 md:grid-cols-4 lg:grid-cols-4 gap-5 w-fit mx-auto z-30"
            >
              <a
                href="{% url 'events' %}"
                class="text-center text-white bg-blue-600 font-bold py-4 px-5 skew-x-12 focus:outline-none hover:bg-opacity-70 hover:text-white mt-4 md:mt-0 flex items-center justify-center gap-2 z-30"
              >
                <span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.9"
                    stroke="currentColor"
                    class="w-7 h-7"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M9.813 15.904L9 18.75l-.813-2.846a4.5 4.5 0 00-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 003.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 003.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 00-3.09 3.09zM18.259 8.715L18 9.75l-.259-1.035a3.375 3.375 0 00-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 002.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 002.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 00-2.456 2.456zM16.894 20.567L16.5 21.75l-.394-1.183a2.25 2.25 0 00-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 001.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 001.423 1.423l1.183.394-1.183.394a2.25 2.25 0 00-1.423 1.423z"
                    />
                  </svg>
                </span>
                <span class="hidden lg:block">Events</span>
              </a>
              <a
                href="#steps"
                class="text-center text-white font-bold bg-black py-4 px-5 skew-x-12 focus:outline-none hover:bg-opacity-70 hover:text-white mt-4 md:mt-0 flex items-center justify-center gap-2 z-30"
              >
                <span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.9"
                    stroke="currentColor"
                    class="w-6 h-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 002.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 00-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25zM6.75 12h.008v.008H6.75V12zm0 3h.008v.008H6.75V15zm0 3h.008v.008H6.75V18z"
                    />
                  </svg>
                </span>
                <span class="hidden lg:block">Steps</span>
              </a>
              <a
                href="#eventprovoker"
                class="text-center text-white font-bold bg-black py-4 px-5 skew-x-12 focus:outline-none hover:bg-opacity-70 hover:text-white mt-4 md:mt-0 flex items-center justify-center gap-2 z-30"
              >
                <span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.9"
                    stroke="currentColor"
                    class="w-6 h-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M16.5 18.75h-9m9 0a3 3 0 013 3h-15a3 3 0 013-3m9 0v-3.375c0-.621-.503-1.125-1.125-1.125h-.871M7.5 18.75v-3.375c0-.621.504-1.125 1.125-1.125h.872m5.007 0H9.497m5.007 0a7.454 7.454 0 01-.982-3.172M9.497 14.25a7.454 7.454 0 00.981-3.172M5.25 4.236c-.982.143-1.954.317-2.916.52A6.003 6.003 0 007.73 9.728M5.25 4.236V4.5c0 2.108.966 3.99 2.48 5.228M5.25 4.236V2.721C7.456 2.41 9.71 2.25 12 2.25c2.291 0 4.545.16 6.75.47v1.516M7.73 9.728a6.726 6.726 0 002.748 1.35m8.272-6.842V4.5c0 2.108-.966 3.99-2.48 5.228m2.48-5.492a46.32 46.32 0 012.916.52 6.003 6.003 0 01-5.395 4.972m0 0a6.726 6.726 0 01-2.749 1.35m0 0a6.772 6.772 0 01-3.044 0"
                    />
                  </svg>
                </span>
                <span class="hidden lg:block">Competitions</span>
              </a>
              <a
                href="#team"
                class="text-center text-white font-bold bg-black py-4 px-5 skew-x-12 focus:outline-none hover:bg-opacity-70 hover:text-white mt-4 md:mt-0 flex items-center justify-center gap-2 z-30"
              >
                <span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.9"
                    stroke="currentColor"
                    class="w-6 h-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M18 18.72a9.094 9.094 0 003.741-.479 3 3 0 00-4.682-2.72m.94 3.198l.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0112 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 016 18.719m12 0a5.971 5.971 0 00-.941-3.197m0 0A5.995 5.995 0 0012 12.75a5.995 5.995 0 00-5.058 2.772m0 0a3 3 0 00-4.681 2.72 8.986 8.986 0 003.74.477m.94-3.197a5.971 5.971 0 00-.94 3.197M15 6.75a3 3 0 11-6 0 3 3 0 016 0zm6 3a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0zm-13.5 0a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0z"
                    />
                  </svg>
                </span>
                <span class="hidden lg:block">Sponsors</span>
              </a>
            </div>
          </div>
        </div>
        
        <video
          autoplay
          muted
          loop
          style="pointer-events: none; z-index: 10;"
          id="myVideo"
          class="min-w-[1200px] w-full min-h-[400px] sm:min-h-[800px] lg:max-h-screen object-fill"
        >
          <source src="{% static 'background.mp4' %}" type="video/mp4" />
        </video>
      </div>




      <div
        id="eventprovoker"
        style="max-width: 2500px"
        class="w-full py-20 mx-auto border-b-2 bg-white"
      >
        <div class="flex flex-col text-center w-full md:w-4/5 mb-10 mx-auto">
          <h1
            style="font-family: 'Kalam', cursive"
            class="text-4xl sm:text-6xl font-bold title-font px-20 py-3 text-black w-fit mx-auto"
          >
            Competitions
          </h1>
          <div id="competionanimation" style="margin: auto;">
            <div
              style="
                background: black;
                height: 4px;
                width: 100%;
                margin: auto;
              "
            ></div>
          </div>
        </div>
        <section class="max-w-[2000px] mx-auto text-gray-600 body-font px-5">
          <div id="competitionbox" class="px-5 py-5 mx-auto bg-[#651fff] w-fit relative cornerCutted">
            <div
              class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-4 gap-10 max-w-8xl px-10 py-10"
            >
              {% for event in events %}
              <div class="bg-white relative grow">
                <div class="flex relative border-none shadow-none">
                  <div
                    class="px-10 py-10 relative z-10 w-full bg-white flex flex-col shadow-none border-none"
                  >
                    <div class="h-fit mb-2">
                      <h2
                        class="tracking-widest text-sm title-font font-medium text-gray-500 mb-1"
                      >
                        EVENT
                      </h2>
                      <h1
                        class="title-font text-xl font-bold font-medium text-gray-900 overflow-x-auto no-scrollbar"
                        style="white-space: nowrap"
                      >
                        {{ event.event_name }}
                      </h1>
                    </div>
                    <div class="mb-4" style="width: 100%px">
                      <div
                        class="box"
                        style="
                          background: #1919ec;
                          height: 2px;
                          width: 100%;
                          margin: auto;
                        "
                      ></div>
                    </div>
                    <p
                      class="leading-relaxed flex-grow max-h-52 overflow-y-auto no-scrollbar mb-2 text-md"
                    >
                      {{ event.discription | slice:":160" }}.....
                    </p>
                    <a
                      href="/details/{{ event.pk }}"
                      class="w-full text-[#1919ec] inline-flex items-center cursor-pointer bg-white"
                      >Learn More
                      <svg
                        fill="none"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        class="w-4 h-4 ml-2"
                        viewBox="0 0 24 24"
                      >
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
              {% endfor %}

              <div class="bg-white relative grow">
                <div class="flex relative border-none shadow-none">
                  <div
                    class="px-10 py-10 relative z-10 w-full bg-white flex flex-col shadow-none border-none"
                  >
                    <div class="h-fit mb-2">
                      <h2
                        class="tracking-widest text-sm title-font font-medium text-gray-500 mb-1"
                      >
                        EVENT
                      </h2>
                      <h1
                        class="title-font text-xl font-bold font-medium text-gray-900 overflow-x-auto no-scrollbar"
                        style="white-space: nowrap"
                      >
                        Check out More
                      </h1>
                    </div>
                    <div class="mb-4" style="width: 100%px">
                      <div
                        class="box"
                        style="
                          background: #1919ec;
                          height: 2px;
                          width: 100%;
                          margin: auto;
                        "
                      ></div>
                    </div>
                    <p
                      class="leading-relaxed flex-grow max-h-52 overflow-y-auto no-scrollbar mb-2 text-md"
                    >
                      Check out more exciting events like these.
                    </p>
                    <a
                      href="/events"
                      class="w-full text-[#1919ec] inline-flex items-center cursor-pointer bg-white"
                      >Learn More
                      <svg
                        fill="none"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        class="w-4 h-4 ml-2"
                        viewBox="0 0 24 24"
                      >
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
              
              
            </div>
          </div>
        </section>
      </div>






      <div
        id="steps"
        style="max-width: 2500px"
        class="w-full py-20 mx-auto border-b-2 bg-white"
      >
        <div class="flex flex-col text-center w-4/5 mb-10 mx-auto">
          <h1
            style="font-family: 'Kalam', cursive"
            class="text-3xl sm:text-5xl font-bold title-font px-20 py-3 text-black w-fit mx-auto"
          >
            Steps of Participation
          </h1>
          <div id="stepsanimation" style="margin: auto;">
            <div
              style="
                background: black;
                height: 4px;
                width: 100%;
                margin: auto;
              "
            ></div>
          </div>
        </div>
        <section class="max-w-[2000px] mx-auto text-gray-600 body-font px-10">
          <div id="stepsbox" class="px-20 py-20 bg-[#651fff] mx-auto w-fit relative cornerCutted">
            <div
              class="max-w-7xl flex items-center mx-auto border-b mb-20 border-gray-200 sm:flex-row flex-col bg-white px-10 py-10 shadow-[0_25px_40px_-15px_rgba(0,0,0,0.3)]"
            >
              <div
                class="w-100 h-100 sm:mr-10 inline-flex items-center justify-center rounded-full flex-shrink-0"
              >
                <img
                  alt="feature"
                  class="object-cover object-center h-36 lg:h-48 w-100"
                  src="https://cdn-icons-png.flaticon.com/512/2910/2910756.png "
                />
              </div>
              <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
                <h2 class="text-gray-900 text-2xl title-font font-bold mb-2">
                  Register yourself
                </h2>
                <p class="leading-relaxed text-base mb-3">
                  Blue bottle crucifix vinyl post-ironic four dollar toast vegan
                  taxidermy. Gastropub indxgo juice poutine. Lorem, ipsum dolor
                  sit amet consectetur adipisicing elit. Illo, mollitia.
                </p>
                <a href="{% url 'events' %}" class="btn text-blue-500 flex items-center gap-2" href="">
                  Get Started
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                  </svg>
                </a>
              </div>
            </div>
            <div
              class="max-w-7xl flex items-center mx-auto border-b mb-20 border-gray-200 sm:flex-row flex-col bg-white px-10 py-10 shadow-[0_25px_40px_-15px_rgba(0,0,0,0.3)]"
            >
              <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
                <h2 class="text-gray-900 text-2xl title-font font-bold mb-2">
                  Participate in Events
                </h2>
                <p class="leading-relaxed text-base mb-3">
                  Blue bottle crucifix vinyl post-ironic four dollar toast vegan
                  taxidermy. Gastropub indxgo juice poutine. Lorem, ipsum dolor
                  sit amet consectetur adipisicing elit. Illo, mollitia.
                </p>
                <a href="{% url 'events' %}" class="btn text-blue-500 flex items-center gap-2" href="">
                  Get Started
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                  </svg>
                </a>
              </div>
              <div
                class="w-100 h-100 sm:order-none order-first sm:ml-10 inline-flex items-center justify-center rounded-full flex-shrink-0"
              >
                <img
                  alt="feature"
                  class="object-cover object-center h-36 lg:h-48 w-100"
                  src="https://cdn-icons-png.flaticon.com/512/1535/1535012.png"
                />
              </div>
            </div>
            <div
              class="max-w-7xl flex items-center mx-auto border-b mb-20 border-gray-200 sm:flex-row flex-col bg-white px-10 py-10 shadow-[0_25px_40px_-15px_rgba(0,0,0,0.3)]"
            >
              <div
                class="w-100 h-100 sm:mr-10 inline-flex items-center justify-center rounded-full flex-shrink-0"
              >
                <img
                  alt="feature"
                  class="object-cover object-center h-36 lg:h-48 w-100"
                  src="https://cdn-icons-png.flaticon.com/512/2755/2755572.png"
                />
              </div>
              <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
                <h2 class="text-gray-900 text-2xl title-font font-bold mb-2">
                  Win Prizes
                </h2>
                <p class="leading-relaxed text-base mb-3">
                  Blue bottle crucifix vinyl post-ironic four dollar toast vegan
                  taxidermy. Gastropub indxgo juice poutine. Lorem, ipsum dolor
                  sit amet consectetur adipisicing elit. Illo, mollitia.
                </p>
                <a href="{% url 'events' %}" class="btn text-blue-500 flex items-center gap-2" href="">
                  Get Started
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </section>
      </div>





      <div
        id="team"
        style="max-width: 1600px"
        class="w-full py-20 mx-auto bg-white border-b-2 bg-white"
      >
        <div class="flex flex-col text-center w-full md:w-4/5 mb-10 mx-auto">
          <h1
            style="font-family: 'Kalam', cursive"
            class="text-4xl sm:text-5xl font-bold title-font px-20 py-3 text-black w-fit mx-auto"
          >
            Our Sponsors
          </h1>
          <div id="teamanimation" style="margin: auto;">
            <div
              style="
                background: black;
                height: 4px;
                width: 100%;
                margin: auto;
              "
            ></div>
          </div>
        </div>
        <section class="max-w-6xl mx-auto text-gray-600 body-font">
          <div id="teambox" class="container px-5 py-5 mx-auto">
            <div class="flex flex-wrap -m-2">
              <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
                <div
                  class="h-full flex items-center border-gray-200 border p-4 rounded-lg bg-white shadow-lg"
                >
                  <div class="flex-grow">
                    <h2 class="text-gray-900 title-font font-medium">
                      Holden Caulfield
                    </h2>
                    <p class="text-gray-500">UI Designer</p>
                  </div>
                </div>
              </div>
              <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
                <div
                  class="h-full flex items-center border-gray-200 border p-4 rounded-lg bg-white shadow-lg"
                >
                  <div class="flex-grow">
                    <h2 class="text-gray-900 title-font font-medium">
                      Holden Caulfield
                    </h2>
                    <p class="text-gray-500">UI Designer</p>
                  </div>
                </div>
              </div>
              <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
                <div
                  class="h-full flex items-center border-gray-200 border p-4 rounded-lg bg-white shadow-lg"
                >
                  <div class="flex-grow">
                    <h2 class="text-gray-900 title-font font-medium">
                      Holden Caulfield
                    </h2>
                    <p class="text-gray-500">UI Designer</p>
                  </div>
                </div>
              </div>
              <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
                <div
                  class="h-full flex items-center border-gray-200 border p-4 rounded-lg bg-white shadow-lg"
                >
                  <div class="flex-grow">
                    <h2 class="text-gray-900 title-font font-medium">
                      Holden Caulfield
                    </h2>
                    <p class="text-gray-500">UI Designer</p>
                  </div>
                </div>
              </div>
              <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
                <div
                  class="h-full flex items-center border-gray-200 border p-4 rounded-lg bg-white shadow-lg"
                >
                  <div class="flex-grow">
                    <h2 class="text-gray-900 title-font font-medium">
                      Holden Caulfield
                    </h2>
                    <p class="text-gray-500">UI Designer</p>
                  </div>
                </div>
              </div>
              <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
                <div
                  class="h-full flex items-center border-gray-200 border p-4 rounded-lg bg-white shadow-lg"
                >
                  <div class="flex-grow">
                    <h2 class="text-gray-900 title-font font-medium">
                      Holden Caulfield
                    </h2>
                    <p class="text-gray-500">UI Designer</p>
                  </div>
                </div>
              </div>
              <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
                <div
                  class="h-full flex items-center border-gray-200 border p-4 rounded-lg bg-white shadow-lg"
                >
                  <div class="flex-grow">
                    <h2 class="text-gray-900 title-font font-medium">
                      Holden Caulfield
                    </h2>
                    <p class="text-gray-500">UI Designer</p>
                  </div>
                </div>
              </div>
              <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
                <div
                  class="h-full flex items-center border-gray-200 border p-4 rounded-lg bg-white shadow-lg"
                >
                  <div class="flex-grow">
                    <h2 class="text-gray-900 title-font font-medium">
                      Holden Caulfield
                    </h2>
                    <p class="text-gray-500">UI Designer</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

      <footer
        style="max-width: 2000px"
        class="bg-black body-font text-center lg:text-left mx-auto"
      >
        <div
          class="flex justify-center items-center lg:justify-between p-6 border-b border-gray-300"
        >
          <div class="mr-12 hidden lg:block">
            <span class="text-gray-300"
              >Get connected with us on social networks:</span
            >
          </div>
          <div class="flex justify-center">
            <a href="#!" class="mr-6 text-gray-400">
              <svg
                aria-hidden="true"
                focusable="false"
                data-prefix="fab"
                data-icon="facebook-f"
                class="w-2.5"
                role="img"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 320 512"
              >
                <path
                  fill="currentColor"
                  d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"
                ></path>
              </svg>
            </a>
            <a href="#!" class="mr-6 text-gray-400">
              <svg
                aria-hidden="true"
                focusable="false"
                data-prefix="fab"
                data-icon="twitter"
                class="w-4"
                role="img"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512"
              >
                <path
                  fill="currentColor"
                  d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"
                ></path>
              </svg>
            </a>
            <a href="#!" class="mr-6 text-gray-400">
              <svg
                aria-hidden="true"
                focusable="false"
                data-prefix="fab"
                data-icon="google"
                class="w-3.5"
                role="img"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 488 512"
              >
                <path
                  fill="currentColor"
                  d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"
                ></path>
              </svg>
            </a>
            <a href="#!" class="mr-6 text-gray-400">
              <svg
                aria-hidden="true"
                focusable="false"
                data-prefix="fab"
                data-icon="instagram"
                class="w-3.5"
                role="img"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512"
              >
                <path
                  fill="currentColor"
                  d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
                ></path>
              </svg>
            </a>
            <a href="#!" class="mr-6 text-gray-400">
              <svg
                aria-hidden="true"
                focusable="false"
                data-prefix="fab"
                data-icon="linkedin-in"
                class="w-3.5"
                role="img"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512"
              >
                <path
                  fill="currentColor"
                  d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"
                ></path>
              </svg>
            </a>
          </div>
        </div>
        <div class="mx-6 py-10 text-center md:text-left">
          <div
            class="flex flex-col md:flex-row items-center justify-between gap-20 md:gap-6 lg:gap-20 px-10 lg:px-20"
          >
            <div class="w-full">
              <h6
                class="uppercase text-xl text-gray-300 font-semibold mb-4 flex items-center justify-center md:justify-start"
              >
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="cubes"
                  class="w-9 mr-3"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                >
                  <path
                    fill="currentColor"
                    d="M488.6 250.2L392 214V105.5c0-15-9.3-28.4-23.4-33.7l-100-37.5c-8.1-3.1-17.1-3.1-25.3 0l-100 37.5c-14.1 5.3-23.4 18.7-23.4 33.7V214l-96.6 36.2C9.3 255.5 0 268.9 0 283.9V394c0 13.6 7.7 26.1 19.9 32.2l100 50c10.1 5.1 22.1 5.1 32.2 0l103.9-52 103.9 52c10.1 5.1 22.1 5.1 32.2 0l100-50c12.2-6.1 19.9-18.6 19.9-32.2V283.9c0-15-9.3-28.4-23.4-33.7zM358 214.8l-85 31.9v-68.2l85-37v73.3zM154 104.1l102-38.2 102 38.2v.6l-102 41.4-102-41.4v-.6zm84 291.1l-85 42.5v-79.1l85-38.8v75.4zm0-112l-102 41.4-102-41.4v-.6l102-38.2 102 38.2v.6zm240 112l-85 42.5v-79.1l85-38.8v75.4zm0-112l-102 41.4-102-41.4v-.6l102-38.2 102 38.2v.6z"
                  ></path>
                </svg>
                NCER EVENTS
              </h6>
              <p class="text-gray-400">
                Here you can use rows and columns to organize your footer
                content. Lorem ipsum dolor sit amet, consectetur adipisicing
                elit.
              </p>
            </div>
            <div class="w-full">
              <h6
                class="uppercase text-gray-300 font-semibold mb-4 flex justify-center md:justify-start"
              >
                Quick Links
              </h6>
              <p class="mb-4">
                <a href="/" class="text-gray-400">Home</a>
              </p>
              <p class="mb-4">
                <a href="{% url 'events' %}" class="text-gray-400">Events</a>
              </p>
              <p class="mb-4">
                <a href="{% url 'about' %}" class="text-gray-400">About</a>
              </p>
              <p class="mb-4">
                <a href="{% url 'terms' %}" class="text-gray-400">Term And Conditions</a>
              </p>
            </div>
            <div class="w-full">
              <h6
                class="uppercase text-gray-300 font-semibold mb-4 flex justify-center md:justify-start"
              >
                Useful Links
              </h6>
              <p class="mb-4">
                <a href="{% url 'events' %}" class="text-gray-400"
                  >Become a Participant</a
                >
              </p>
              <p class="mb-4">
                <a href="{% url 'become_host' %}" class="text-gray-400"
                  >Become a Host</a
                >
              </p>
            </div>
            <div class="w-full">
              <h6
                class="uppercase text-gray-300 font-semibold mb-4 flex justify-center md:justify-start"
              >
                Contact
              </h6>
              <p
                class="flex items-center justify-center md:justify-start mb-4 text-gray-400"
              >
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="home"
                  class="w-4 mr-4"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 576 512"
                >
                  <path
                    fill="currentColor"
                    d="M280.37 148.26L96 300.11V464a16 16 0 0 0 16 16l112.06-.29a16 16 0 0 0 15.92-16V368a16 16 0 0 1 16-16h64a16 16 0 0 1 16 16v95.64a16 16 0 0 0 16 16.05L464 480a16 16 0 0 0 16-16V300L295.67 148.26a12.19 12.19 0 0 0-15.3 0zM571.6 251.47L488 182.56V44.05a12 12 0 0 0-12-12h-56a12 12 0 0 0-12 12v72.61L318.47 43a48 48 0 0 0-61 0L4.34 251.47a12 12 0 0 0-1.6 16.9l25.5 31A12 12 0 0 0 45.15 301l235.22-193.74a12.19 12.19 0 0 1 15.3 0L530.9 301a12 12 0 0 0 16.9-1.6l25.5-31a12 12 0 0 0-1.7-16.93z"
                  ></path>
                </svg>
                Nutan College , Talegaon
              </p>
              <p
                class="flex items-center justify-center md:justify-start mb-4 text-gray-400"
              >
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="envelope"
                  class="w-4 mr-4"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                >
                  <path
                    fill="currentColor"
                    d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z"
                  ></path>
                </svg>
                info@example.com
              </p>
              <p
                class="flex items-center justify-center md:justify-start mb-4 text-gray-400"
              >
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="phone"
                  class="w-4 mr-4"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                >
                  <path
                    fill="currentColor"
                    d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z"
                  ></path>
                </svg>
                + 01 234 567 88
              </p>
            </div>
          </div>
        </div>
        <div class="text-center text-gray-400 p-6 bg-black">
          <span>© 2021 Copyright:</span>
          <a
            class="text-gray-300 font-semibold"
            href="https://tailwind-elements.com/"
            >NCER EVENTS</a
          >
        </div>
      </footer>
    </div>

    <script>
      function isScrolledIntoView() {
        var docViewTop = $(window).scrollTop();

        var footerTop = $("#eventprovoker").offset().top;

        if (docViewTop + 80 >= footerTop) {
          if ($("#header_navbar").hasClass("bg-transparent")) {
            $("#header_navbar").addClass("bg-white");
            $("#header_navbar").removeClass("bg-transparent");
          }
        } else {
          if (!$("#header_navbar").hasClass("bg-transparent")) {
            $("#header_navbar").removeClass("bg-white");
            $("#header_navbar").addClass("bg-transparent");
          }
        }
      }


      $(window).scroll(() => {
        isScrolledIntoView();
      });


      $("#menuOpener").click(() => {
        $("#MenuBar").toggle("hidden");
        if ($("#menuContainer").hasClass("bg-white")) {
          $("#menuContainer").removeClass("bg-white");
        } else {
          $("#menuContainer").addClass("bg-white");
        }
      });


      $(document).ready(function () {
        const eventCards = $(".grow");

        $.each(eventCards, (index, element)=>{
          $(element).mouseenter(function () {
          $(this).find(".box").css("width", "0px");
          $(this).find(".box").css("background-color", "#1919ec");
          $(this).find(".box").animate(
            {
              width: "100%",
            },
            {
              duration: 400,
              easing: "linear",
              step: function (x) {
                $("#demo").text(Math.round((x * 100) / 400) + "%");
              },
            }
          );
        });

        })
        
      });


      function competitionAnimation() {
        var docViewTop = $(window).scrollTop();

        var competitionboxTop = $("#competitionbox").offset().top;

        if ( (docViewTop + $(window).height()) - 50 >= competitionboxTop) {
          if(!$("#competionanimation").hasClass("animateborder")){
            $("#competionanimation").addClass("animateborder");
            $("#competionanimation").removeClass("reverseanimateborder");

          }
        }else{
          if($("#competionanimation").hasClass("animateborder"))
          $("#competionanimation").addClass("reverseanimateborder");
          $("#competionanimation").removeClass("animateborder");
        }


        var stepsboxTop = $("#stepsbox").offset().top;

        if ( (docViewTop + $(window).height()) - 50 >= stepsboxTop) {
          if(!$("#stepsanimation").hasClass("animateborder")){
            $("#stepsanimation").addClass("animateborder");
            $("#stepsanimation").removeClass("reverseanimateborder");

          }
        }else{
          if($("#stepsanimation").hasClass("animateborder"))
          $("#stepsanimation").addClass("reverseanimateborder");
          $("#stepsanimation").removeClass("animateborder");
        }


        var teamboxTop = $("#teambox").offset().top;

        if ( (docViewTop + $(window).height()) - 50 >= teamboxTop) {
          if(!$("#teamanimation").hasClass("animateborder")){
            $("#teamanimation").addClass("animateborder");
            $("#teamanimation").removeClass("reverseanimateborder");

          }
        }else{
          if($("#teamanimation").hasClass("animateborder"))
          $("#teamanimation").addClass("reverseanimateborder");
          $("#teamanimation").removeClass("animateborder");
        }

      }

      $(window).scroll(() => {
        competitionAnimation();
      });
    </script>
  </body>
</html>
