{% extends 'base.html' %}

{% block content %}
    <div class="w-full">
        <div class="container mx-auto max-w-5xl p-5" style="padding-top: 120px;">

            <div class="w=full flex flex-col mb-5 sm:mb-10 mx-auto">
                <h1 class=" text-2xl sm:text-4xl font-bold title-font py-1 sm:py-3 text-black w-full border-b-4 border-black">Terms and Conditions
                </h1>
            </div>

            <div class="flex flex-col mb-10 mx-auto">
                <h1 class="w-full text-lg sm:text-xl font-semibold title-font text-black mb-1">Terms and Conditions</h1>
                <p class="text-md sm:text-lg text-gray-800 sm:indent-10">Welcome to ncer!

                    These terms and conditions outline the rules and regulations for the use of KET tech's Website, located at https://ncercollege.herokuapp.com/.
                    
                    By accessing this website we assume you accept these terms and conditions. Do not continue to use ncer if you do not agree to take all of the terms and conditions stated on this page.
                    
                    The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and all Agreements: "Client", "You" and "Your" refers to you, the person log on this website and compliant to the Company’s terms and conditions. "The Company", "Ourselves", "We", "Our" and "Us", refers to our Company. "Party", "Parties", or "Us", refers to both the Client and ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner for the express purpose of meeting the Client’s needs in respect of provision of the Company’s stated services, in accordance with and subject to, prevailing law of Netherlands. Any use of the above terminology or other words in the singular, plural, capitalization and/or he/she or they, are taken as interchangeable and therefore as referring to same.</p>
            </div>

            <div class="flex flex-col mb-10 mx-auto">
                <h1 class="w-full text-lg sm:text-xl font-semibold title-font text-black mb-1">Cookies</h1>
                <p class="text-md sm:text-lg text-gray-800 sm:indent-10">We employ the use of cookies. By accessing ncer, you agreed to use cookies in agreement with the KET tech's Privacy Policy.

                    Most interactive websites use cookies to let us retrieve the user’s details for each visit. Cookies are used by our website to enable the functionality of certain areas to make it easier for people visiting our website. Some of our affiliate/advertising partners may also use cookies.</p>
            </div>

            <div class="flex flex-col mb-10 mx-auto">
                <h1 class="w-full text-lg sm:text-xl font-semibold title-font text-black mb-1">Disclaimer</h1>
                <p class="text-md sm:text-lg text-gray-800 sm:indent-10">To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions relating to our website and the use of this website. Nothing in this disclaimer will:

                    limit or exclude our or your liability for death or personal injury;
                    limit or exclude our or your liability for fraud or fraudulent misrepresentation;
                    limit any of our or your liabilities in any way that is not permitted under applicable law; or
                    exclude any of our or your liabilities that may not be excluded under applicable law.
                    The limitations and prohibitions of liability set in this Section and elsewhere in this disclaimer: (a) are subject to the preceding paragraph; and (b) govern all liabilities arising under the disclaimer, including liabilities arising in contract, in tort and for breach of statutory duty.</p>
            </div>

            {% comment %} <div class="flex flex-col mb-10 mx-auto">
                <h1 class="w-full text-lg sm:text-xl font-semibold title-font text-black mb-1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui, aperiam.</h1>
                <p class="text-md sm:text-lg text-gray-800 sm:indent-10">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste at ipsa nihil, magni commodi quia exercitationem laboriosam tempora voluptate, accusantium maiores esse pariatur quam, asperiores aliquam facere! Temporibus nobis est culpa pariatur maxime reiciendis unde vel explicabo ut ex dignissimos ratione incidunt soluta sint officiis laudantium, doloribus assumenda dolores non, tempora sit molestiae. Quaerat error placeat magnam quam voluptas quis recusandae autem porro. Magnam quo veniam, accusantium id porro consequatur natus. Perferendis, laborum! Veniam amet doloribus ea labore eaque magnam sed dolore fugiat consequatur voluptates! Libero sint sequi modi. Quam soluta voluptatum facilis repudiandae nesciunt eligendi at eius quia corporis?</p>
            </div> {% endcomment %}
            
        </div>
    </div>

    {% endblock content %}